apiVersion: v1
kind: ConfigMap
metadata:
  name: radar-voluntario-config
  namespace: radar-voluntario-staging
data:
  namespace: radar-voluntario-staging
  environment: staging
  host: staging.radarvoluntario.com
  backend-port: "7011"
  frontend-image: ghcr.io/antoniolago/radar-voluntario-frontend:v0.2.06-rc-1701452827 # {"$imagepolicy": "flux-system:radar-voluntario-front-img-policy-staging"}
  backend-image: ghcr.io/antoniolago/radar-voluntario-backend:v0.2.06-rc-1701452826 # {"$imagepolicy": "flux-system:radar-voluntario-back-img-policy-staging"}
  postgres-db: radar-voluntario
  postgres-user: postgres
  google-oauth-client-id: 910904119481-m5o3q6n66b1l9bamtgh854t4c31r6kj9.apps.googleusercontent.com
