apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radar-voluntario-pvc
  namespace: radar-voluntario-staging
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: radar-voluntario-pv-staging
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/radar-voluntario-staging"