apiVersion: v1
kind: ConfigMap
metadata:
  name: radar-voluntario-config
  namespace: radar-voluntario-development
data:
  namespace: radar-voluntario-development
  environment: development
  host: dev.radarvoluntario.com
  backend-port: "7013"
  frontend-image: ghcr.io/antoniolago/radar-voluntario-frontend:dev-1701443024 # {"$imagepolicy": "flux-system:radar-voluntario-front-img-policy-development"}
  backend-image: ghcr.io/antoniolago/radar-voluntario-backend:dev-1701443025 # {"$imagepolicy": "flux-system:radar-voluntario-back-img-policy-development"}
  postgres-db: radar-voluntario
  postgres-user: postgres
  google-oauth-client-id: 910904119481-m5o3q6n66b1l9bamtgh854t4c31r6kj9.apps.googleusercontent.com
